# Investigate Anscombe's Quartet

## Background of the Dataset

Anscombe's quartet are four sets of bivariate data. They are of interest because they share many of the same measures of central tendency and variance, but when graphed it's obvious that the four data sets are very different.

<img src="images/datasets.png" style="width: 450px;"/>

The four datasets were constructed by Francis Anscombe, a British statistican, who believed visualising data sets was essential to fully understanding the context of your results. 

Michael Friendly has described the early 20th Century as the ***Modern Dark Ages of Visualisation***, with mathematicans concerned with exact answers viewing graphical representations as inaccurate. By 1973, when Anscombe constructed his sets, computers were been used for statistical analysis of datasets, and many statisticans saw this as the way forward for data analysis, but programs for visualising data were still in their infancy and not widely used. 

In his introduction Anscombe points out that *'Most textbooks on statistical methods, and most statistical computer programs pay too little attention to graphs,'* suggesting that his paper was written in part as a challenge to accepted thinking of the time.

**How did Anscombe create his dataset?**

It is not known how Anscombe created his quartet. He encouraged the use of computer programs to perform statistical analysis, and was a computer programmer himself, at a time when many mathematicans saw statisticans using such programs as lesser mathematicians.

## Plotting the Dataset

In [42]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [43]:
csv=pd.read_csv("csv/anscombe.csv", names = ["x1", "y1", "Group", "Position"])
df = pd.DataFrame
df(csv)

    x1     y1 Group  Position
0   10   8.04     A         1
1    8   6.95     A         2
2   13   7.58     A         3
3    9   8.81     A         4
4   11   8.33     A         5
5   14   9.96     A         6
6    6   7.24     A         7
7    4   4.26     A         8
8   12  10.84     A         9
9    7   4.82     A        10
10   5   5.68     A        11
11  10   9.14     B         1
12   8   8.14     B         2
13  13   8.74     B         3
14   9   8.77     B         4
15  11   9.26     B         5
16  14   8.10     B         6
17   6   6.13     B         7
18   4   3.10     B         8
19  12   9.13     B         9
20   7   7.26     B        10
21   5   4.74     B        11
22  10   7.46     C         1
23   8   6.77     C         2
24  13  12.74     C         3
25   9   7.11     C         4
26  11   7.81     C         5
27  14   8.84     C         6
28   6   6.08     C         7
29   4   5.39     C         8
30  12   8.15     C         9
31   7   6.42     C        10
32   5   5.73     C        11
33   8   6.58     D         1
34   8   5.76     D         2
35   8   7.71     D         3
36   8   8.84     D         4
37   8   8.47     D         5
38   8   7.04     D         6
39   8   5.25     D         7
40  19  12.50     D         8
41   8   5.56     D         9
42   8   7.91     D        10
43   8   6.89     D        11

## Calculate the descriptive statistics of the variables in the dataset

## Evaluation

## References

* [Anscombe's Quartet, Wikipedia page](https://en.wikipedia.org/wiki/Anscombe%27s_quartet), accessed 12th October 2018.
* [The ASA Statistical Computing Section: A History](http://stat-computing.org/computing/history/chambers-ryan.html) by John M. Chambers and Barbara F. Ryan, originally appeared in The American Statistician, May 1990 (Volume 4, No. 2, pp 87-89). Accessed 12th October 2018.
* [A Brief History of Data Visualization (Archived Link)](https://web.archive.org/web/20160531195841/http://www.datavis.ca/papers/hbook.pdf) by Michael Friendly, Handbook of Computational Statistics: Data Visualization, 2006. Accessed 12th October 2018.
* [Graphs in statistical analysis](http://www.sjsu.edu/faculty/gerstman/StatPrimer/anscombe1973.pdf) by Francis Anscombe, American Statistician, 27, 17–21, 1973. Accessed 13th October 2018.